{% extends 'app1/base.html' %}
{% load static %}   

{% block title %} Cursos {% endblock %}

{% block contenidoDeIndex %}    

</div>
<div style="background-color: #37AFFF  ;  flex: 1; height: 10vh;">

</div>
<form action="" method="post" class="d-flex flex-column  align-items-center fs-3 text"style="background-color: #37AFFF  ">
    {% csrf_token %} 
    <table> 
        {{formulario.as_table}}
    </table>
    <input type="submit" value="Buscar" class=" btn btn-primary fs-3">
</form>

    {%for curso in cursos%}
        <li class="d-flex flex-column  align-items-center fs-3 text"style="background-color: #37AFFF  "> {{curso.nombre}}, Costo $  {{curso.costo}}</li>
    {%endfor%}

</div>
<div style="background-color: #37AFFF  ;  flex: 1; height: 59vh;">

</div>
 

{% endblock contenidoDeIndex %}